.formCadastrar {
    margin: 0 auto;
    padding: 30px 50px;
    display: flex;
    max-width: 500px;
    // height: 85vh;
    flex-direction: column;
    justify-content: flex-start;

    form {

        .formGroup {
            display: flex;
            flex-direction: column;

            input {
                height: 40px;
                border-radius: 5px;
                border: 1px solid var(--gray);
            }

            small {
                color: var(--gray);
            }

            &:not(:first-child){
                margin-top: 20px;
            }

            .error_message {
                color: var(--white);
                background-color: rgb(225, 112, 112);
                border: 1px solid rgb(212, 56, 56);
                border-radius: 3px;
                padding: 5px 10px;
            }
        }
        
        .formButtons {
            display: flex;
            justify-content: flex-end;
    
            button {
                background-color: var(--main-color);
                color: var(--white);
                margin-left: 20px;
                margin-top: 30px;
                min-width: 120px;

                &:first-child {
                    background-color: var(--intermediary-color);
                }

                &:hover {
                    background-color: var(--light-color);
                    color: var(--white);
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .formCadastrar {
        width: 95%;
        padding: 50px 15px;

        form {
            .formGroup {
                input: {
                    height: 100px;
                }
            }
        }
    }
}

@media (max-width: 425px ) {
    .formCadastrar {
        width: 95%;
        padding: 50px 15px;
    }
}
