.container {
    max-width: 1024px;
    margin: 0 auto;

    .forum_description {
        display: flex;
        align-items: flex-start;


        .forum_data {
            width: 100%;
        }

        
    }

    h1 {
        text-align: left;
        
        span {
            cursor: pointer;
        }
    }

    .comments {
        margin-bottom: 15px;
        .new_comment_box {
            padding-left: 10px;

            form {
                display: flex;
                flex-direction: column;

                .send_button {
                    align-self: flex-end;
                    margin-top: 10px;

                    &:disabled {
                        cursor: not-allowed;
                    }
                }
            }

            textarea {
                width: 100%;
            }
        }

        .comment_box {
            display: flex;
            align-items: flex-start;
            margin-top: 15px;
            
            .comment_img_profile {
                box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
                position: relative;
                overflow: hidden;
                height: 60px;
            }
            
            .comment_content {
                display: flex;
                width: 100%;
                flex-grow: 20;
                background-color: var(--middle-color);
                margin-left: 15px;
                box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
                padding: 10px;  

                h5 {
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
                }
                }
        }
    }
}

.dropdown {
    width: min-content;
    height: min-content;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-grow: 1;
    // &:hover .dropdownContent {
    //     display: block;
    // }
    
    button {
        align-self: center;
        line-height: 100%;
        font-size: 24px;
        padding-right: 10px;
        border: none;
        background-color: transparent;
    }

    ul {
        padding: 0;
        list-style: none;
        margin-bottom: 0;
    }

    img {
        border-radius: 50%;
    }

    .dropdownContent {
        display: flex;
        position: absolute;
        background-color: #f5f2f2;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        white-space: nowrap;
        
        ul {
            height: min-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;
        }

        button {
            border: none;
            width: 100%;
            &:not(:last-child) {
                border-bottom: 1px solid var(--gray);
            }

            &:hover {
                background-color: var(--light-color);
                cursor: pointer;
            }
        }

        li {
            position: relative;
            color: var(--black);
            text-align: center;
            list-style: none;
            margin: 0;
            border: none;
            border-radius: 0;
            font-size: 12px;
            padding: 5px 10px;
        }
    }

}

.formButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-bottom: 20px;

    button {
        background-color: var(--main-color);
        color: var(--white);
        margin-left: 20px;
        margin-top: 30px;
        width: 120px;

        &:nth-child(1) {
            background-color: var(--red);
        }

        &:hover {
            background-color: var(--light-color);
            color: var(--white);
        }
    }
}